
.parallax-reviews { 
    height: 36rem;
    box-shadow:0 0 0 18rem rgba(0, 0, 0, 0.7) inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-reviews {
  	background-image:url('../images/back-reviews.jpg'); 
}


.parallax-descr { 
	box-shadow:0 0 0 1000px rgba(0, 0, 0, 0.7) inset;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-descr {
  	background-image:url('../images/back-descr.jpg'); 
}